.DS_Store
*.log
*.sw[op]
.vscode/
hca-api-stub/healthcare.application.crt
hca-api-stub/healthcare.application.key
hca-api-stub/healthcare.application.key.gpg
jsconfig.json
test/e2e/nightwatch.json

*.gpg
*.key
*.crt
jsconfig.json
.vscode/
npm-debug.log.*

#Compiled files.
.sass-cache
generated/
node_modules/
typings*
reports/
test/e2e/reports/